body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

h2 {
    color: #666;
}

table {
    width: 100%;
    border: 1px solid #333;
    border-collapse: collapse;
}

th,
td {
    padding: 8px 12px;
    border: 1px solid #333;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    margin: 5px;
}
.col-md-auto {
    display: inline-block;
    width: auto;
}